In [1]:
from xgboost import XGBClassifier

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
data=pd.read_csv(r'/home/khan/Machine Learning A-Z Template Folder/Part 10 - Model Selection & Boosting/Section 49 - XGBoost/Churn_Modelling.csv')

In [4]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
new=data.iloc[:,3:]

In [6]:
nc=new._get_numeric_data()

In [7]:
cat=new.select_dtypes(include='object')

In [8]:
dum=pd.get_dummies(cat)

In [9]:
dum.columns

Index(['Geography_France', 'Geography_Germany', 'Geography_Spain',
       'Gender_Female', 'Gender_Male'],
      dtype='object')

In [10]:
dum.drop(['Geography_Spain','Gender_Female'],axis=1,inplace=True)

In [12]:
news=pd.concat([dum,nc],axis=1)
news.head()

   Geography_France  Geography_Germany  ...  EstimatedSalary  Exited
0                 1                  0  ...        101348.88       1
1                 0                  0  ...        112542.58       0
2                 1                  0  ...        113931.57       1
3                 1                  0  ...         93826.63       0
4                 0                  0  ...         79084.10       0

[5 rows x 12 columns]

In [17]:
X=news.iloc[:,0:11].values

In [33]:
y=news.iloc[:,11]

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [32]:
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [34]:
y_pred = classifier.predict(X_test)

In [35]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [36]:
cm

array([[1522,   73],
       [ 198,  207]])

In [38]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)

accuracies.std()

0.00967035936096524

In [39]:

accuracies.mean()

0.8624988197247184